.issue-info-left {
  height: 50%;
  width: 25%;
  color: rgb(200, 56, 53);
  position: absolute;
  left: 3%;
  top: 50%;
}
.issue-info-right {
  height: 50%;
  width: 25%;
  color: rgb(17, 49, 120);
  position: absolute;
  right: 3%;
  top: 50%;
}
#flagBanner {
  margin-bottom: -30px;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: rgb(17, 49, 120);
  margin: 0 0 3% 3%;
}
header h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: rgb(200, 56, 53);
  margin: 0 0 3% 3.3%;
}
.enter-button {
  font-size: 22px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(17, 49, 120);
  padding: 8px;
  margin: 1% 0 0 3.3%;
}
.prev-match {
  font-size: 14.5px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(17, 49, 120);
  padding: 8px 22px;
  margin: 1% 0 0 3.3%;
}
.about-link {
  font-size: 14.5px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(17, 49, 120);
  padding: 8px 22px;
  margin: 1% 0 0 0%;
}
a.about {
  text-decoration: none;
  color: white;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.top-bar {
  text-align: center;
  margin: 3% 0 3% 0;
}
.about-main {
  padding: 4% 0 4% 0;
  color: white;
  background-color: rgb(17, 49, 120);
  text-align: center;
}
.heads {
  height: 140px;
  width: 140px;
  margin-top: 2%;
}
.tinder {
  max-width: 37%;
  height: 410px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(17, 49, 120);
  color: white;
}
.column h3 {
  text-align: center;
  font-size: 22px;
}
.column img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.column {
  width: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}
.glyphicon {
  text-align: center;
}
.issues {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 1.5% 0 0 0;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  border: .5em solid
}
.btn.strong-disagree {
  background-color: rgb(198, 2, 2);
  opacity: 0.8;
  color: white;
}
.btn.disagree {
  background-color: rgb(217, 83, 79);
  opacity: 0.9;
  color: white;
}
.btn.neutral {
  background-color: rgb(144, 142, 142);
  opacity: 0.8;
  color: white;
}
.btn.agree {
  background-color: rgb(91, 192, 222);
  opacity: 0.9;
  color: white;
}
.btn.strong-agree {
  background-color: rgb(0, 73, 184);
  opacity: 0.9;
  color: white;
}
.btn.strong-disagree:hover {
  border-color: rgb(107, 2, 2);
}
.btn.disagree:hover {
  border-color: rgb(214, 30, 25);
}
.btn.neutral:hover {
  border-color: rgb(83, 83, 83);
}
.btn.agree:hover {
  border-color: rgb(0, 163, 212);
}
.btn.strong-agree:hover {
  border-color: rgb(3, 37, 89);
}
.match {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  color: white;
  background-color: rgb(17, 49, 120);
}
.match h1 {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 62px;
  text-align: center;
}
.match h4 {
  text-align: center;
}
img.match {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}
h2.match {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: rgb(200, 56, 53);
  font-size: 42px;
  text-align: center
}
h4.match {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: rgb(17, 49, 120);
  font-size: 32px;
  text-align: center;
}
p.match {
  background-color: white;
  color: rgb(17, 49, 120);
  font-size: 12px;
  text-align: center;
}
td {
  vertical-align: middle !important;
}
#shareButton {
  display: block !important;
  text-align: center;
  margin-bottom: 10px;
}
.links {
  text-align: center;
  position: relative;
  background-color: rgb(17, 49, 120);
  color: white;
  border-radius: 8px;
  padding: 7px;
  clear: both;
}
div.about-page {
  max-width: 65%;
}
h4.about-page {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: rgb(10, 31, 78);
  font-size: 16px;
  margin: 0 0 3% 5%;
}
a.about-links {
  margin: 0 0 0 5%;
  text-align: center;
  padding: 7px;
  border-radius: 8px;
  background-color: rgb(17, 49, 120);
  color: white;
  font-size: 14.5px;
}
