#flagBanner {
  margin-bottom: -30px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: rgb(17, 49, 120);
  margin: 0 0 3% 3%;
}

header h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: rgb(200, 56, 53);
  margin: 0 0 3% 3.3%;
}

.enter-button {
  font-size: 22px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(17, 49, 120);
  padding: 10px;
  margin: 3% 0 0 3.3%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  text-align: center;
  margin: 3% 0 3% 0;
}

.about-main {
  padding: 4% 0 4% 0;
  color: white;
  background-color: rgb(17, 49, 120);
  text-align: center;
}

.heads {
  height: 140px;
  width: 140px;
  margin-top: 2%;
}

.pagination {
  text-align: center;
}

.issues {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: white;
  background-color: rgb(200, 56, 53);
  margin: 3% 0 0 0;
  padding: 0 5% 5% 5%;
}

.issues label, input {
  color: white;
  display: block;
}
