#flagBanner {
  margin-bottom: -30px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: rgb(17, 49, 120);
  margin: 0 0 3% 3%;
}

header h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: rgb(200, 56, 53);
  margin: 0 0 3% 3.3%;
}

.enter-button {
  font-size: 22px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgb(17, 49, 120);
  padding: 10px;
  margin: 3% 0 0 3.3%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  text-align: center;
  margin: 3% 0 3% 0;
}

.about-main {
  padding: 4% 0 4% 0;
  color: white;
  background-color: rgb(17, 49, 120);
  text-align: center;
}

.heads {
  height: 140px;
  width: 140px;
  margin-top: 2%;
}

/*Tinder-style profile*/
.tinder {
  max-width: 37%;
  height: 390px;
  margin: 0 auto;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  background-color: rgb(17, 49, 120);
  color: white;
}

.column h3 {
  text-align: center;
  font-size: 22px;
}

.column img {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  width: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.issues {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 3% 0 0 0;
}

.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  font-size: 14px;
  line-height: 1.33;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  border: .5em solid
}

.btn.strong-disagree {
  background-color: rgb(198, 2, 2);
  opacity: 0.8;
  color: white;
}

.btn.disagree {
  background-color: rgb(217, 83, 79);
  opacity: 0.9;
  color: white;
}

.btn.neutral {
  background-color: rgb(144, 142, 142);
  opacity: 0.8;
  color: white;
}

.btn.agree {
  background-color: rgb(91, 192, 222);
  opacity: 0.9;
  color: white;
}

.btn.strong-agree {
  background-color: rgb(0, 73, 184);
  opacity: 0.9;
  color: white;
}

.btn.strong-disagree:hover {
  border-color: rgb(107, 2, 2);
}

.btn.disagree:hover {
  border-color: rgb(214, 30, 25);
}

.btn.neutral:hover {
  border-color: rgb(83, 83, 83);
}

.btn.agree:hover {
  border-color: rgb(0, 163, 212);
}

.btn.strong-agree:hover {
  border-color: rgb(3, 37, 89);
}

.match h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(17, 49, 120);
  font-size: 62px;
  text-align: center;
}
